.aboutnav {
  width: 100%;
  height: 5em;
}
.about-container {
  min-height: 100vh;
  padding-top: 4em;
  color: black;
  border-bottom: 0.1em solid peru;
  margin-top: 0em;
}
.about-text {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  margin-bottom: 2em;
}
.about {
  color: orangered;
  font-size: 1.2em;
  letter-spacing: 0.5em;
  text-align: center;
  margin-bottom: -2em;
}
.about-me {
  font-size: 2.7em;
  font-weight: bold;
  text-align: center;
}
.my-info {
  width: 80%;
  text-align: left;
  font-size: 1.1em;
  word-spacing: 0.5em;
  line-height: 1.7em;
  padding: 0em 1em 1em 0em;
  margin-top: -1.5em;
}
@media screen and (max-width: 900px) {
  .about-container {
    color: black;
  }
  .about-text {
    flex-direction: column;
    margin-top: -3em;
  }
  .my-info {
    width: 85%;
    margin: auto;
  }
}
