.home-container {
  width: 100%;
  min-height: 100vh;
  background: url(../images/bg4.jpg);
  background-size: cover;
  margin: 0em;
}
.image-container {
  background-color: brown;
}

.image {
  width: 18em;
  height: 35em;
  position: absolute;
  bottom: 0em;
  left: 2em;
}

.text-wrapper {
  width: 70%;
  color: white;
  padding-bottom: 1.5em;
  text-align: left;
  font-family: sans-serif;
  position: absolute;
  bottom: 0em;
  left: 28em;
}
.text1 {
  font-size: 1.5em;
  letter-spacing: 0.5em;
  margin-bottom: -1.2em;
}
.text2 {
  font-size: 4em;
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 1.3em;
}
.text3 {
  font-size: 1.5em;
  margin-top: -1.2em;
}
@media screen and (max-width: 1030px) {
  .text-wrapper {
    left: 4em;
  }
}
@media screen and (max-width: 930px) {
  .image {
  }
}
@media screen and (max-width: 900px) {
  .home-container {
    width: 100%;
  }
  .image {
    left: 0em;
  }
  .text-wrapper {
    margin: 0em;
    padding: 2em;
    left: 0em;
  }
  .text1 {
    font-size: 1.1em;
  }
  .text2 {
    font-size: 2.3em;
    line-height: 1em;
  }
  .text3 {
    font-size: 1.1em;
    letter-spacing: 0.1em;
  }
}
@media screen and (max-width: 300px) {
  .text1 {
    font-size: 1em;
  }
  .text2 {
    font-size: 2em;
  }
  .text3 {
    font-size: 1em;
  }
}
