.portfolio-container {
  border-bottom: 0.1em solid peru;
  min-height: 90vh;
}
.portfolionav {
  width: 100%;
  height: 5em;
}
.portfolio {
  font-size: 1.2em;
  color: orangered;
  letter-spacing: 0.4em;
  text-align: center;
  font-weight: normal;
  margin: 4em 0em -2em 0em;
}
.my-recent-work {
  font-size: 2.7em;
  font-weight: bold;
  text-align: center;
}
.row {
  display: flex;
  width: 100%;
  justify-content: center;
}
.big {
  padding-bottom: 5em;
  width: 50%;
  text-align: center;
}
.image-description-container {
  width: 70%;
  height: 24em;
  margin: auto;
  border-top: 0.1em solid gray;
  box-shadow: 0.1em 0.3em 0.5em gray;
  border-radius: 0.5em;
}
.my-work-image {
  width: 100%;
  height: 20em;

  background-color: green;
}
.Portfolioimg {
  width: 100%;
  height: 20em;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}
.my-work-image a:hover {
  color: rgb(170, 88, 11);
  text-decoration: underline;
}
.design-name {
  width: 100%;
  background-color: rgba(51, 50, 50, 0.4);
  position: relative;
  bottom: 2.7em;
  color: rgb(170, 88, 11);
  padding: 0.1em 0em;
  text-align: center;
}
.design-description {
  text-align: center;
  color: gray;
}
@media screen and (max-width: 560px) {
  .my-recent-work {
    line-height: 1em;
  }
  .row {
    display: block;
  }
  .big {
    width: 100%;
  }
  .image-description-container {
    width: 90%;
  }
}
