.App {
  /* text-align: center; */
}

.App {
  /* background-color: whitesmoke; */
  width: 100%;
}
@media screen and (max-width: 900px) {
  .App {
    width: 100%;
    background-color: black;
  }
}
